@page
@model E_ShopManagerWEB2.Pages.DetallePedidos.CreateModel
@{
	ViewData["Title"] = "Create";
}
<h1>Create</h1>
<h5>DetallePedido</h5>
<hr />
<div class="row">
	<div class="col-md-5">
		<form method="post">
			<div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="DetallePedido.PedidoId" class="control-label"></label>
				<input asp-for="DetallePedido.PedidoId" class="form-control" />
				<span asp-validation-for="DetallePedido.PedidoId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DetallePedido.ProductoId" class="control-label"></label>
				<input asp-for="DetallePedido.ProductoId" class="form-control" />
				<span asp-validation-for="DetallePedido.ProductoId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DetallePedido.Cantidad" class="control-label"></label>
				<input asp-for="DetallePedido.Cantidad" class="form-control" />
				<span asp-validation-for="DetallePedido.Cantidad" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DetallePedido.Precio" class="control-label"></label>
				<input asp-for="DetallePedido.Precio" class="form-control" />
				<span asp-validation-for="DetallePedido.Precio" class="text-danger"></span>
			</div>
			<div class="form-group mt-3">
				<input type="submit" value="Create" class="btn btn-success" />
				<a asp-page="Index" class="btn btn-primary">Back to List</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}
